.tp_single_event {
    .entry-title {
        h1 {
            font-size: 30px;
            font-weight: 700;
            line-height: 40px;
            margin: -5px 0 35px;
        }
    }
}

.thim-list-content {
    margin: auto;
    li {
        list-style: none;
        position: relative;
        padding-left: 25px;
        &:before {
            content: '';
            width: 6px;
            height: 6px;
            border-radius: 50%;
            line-height: 24px;
            position: absolute;
            left: 0;
            top: 9px;
        }
    }
}

.tp-event-top {
    position: relative;
    .entry-thumbnail {
        a {
            display: block;
            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: rgba(0, 0, 0, 0.5);
            }
        }
    }
    .tp_single_event & {
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0, 0, 0, 0.5);
        }
    }
}

.entry-countdown {
    position: absolute;
    top: auto;
    left: 0;
    right: 0;
    bottom: 50px;
    .tp_event_counter {
        background: transparent;
        border: 0;
        padding: 0;
        text-align: center;
        .countdown-row {
            overflow: hidden;
            text-align: center;
            display: inline-block;
            margin: auto;
            padding: 0;
            width: auto;
            clear: inherit;
            .countdown-section {
                width: 90px;
                height: 90px;
                background: rgba(0, 0, 0, 0.8);
                border-radius: 50%;
                display: inline-block;
                margin: 0 6px;
                padding: 0;
                text-align: center;
                &:first-child {
                    margin-left: 0;
                }
                &:last-child {
                    margin-right: 0;
                }
                .countdown-amount {
                    font-size: 30px;
                    font-weight: 700;
                    line-height: 30px;
                    height: 30px;
                    color: #fff;
                    margin: 20px 0 0;
                    text-align: center;
                    display: block;
                    width: 100%;
                }
                .countdown-period {
                    color: #fff;
                    font-size: 12px;
                    font-weight: 700;
                    line-height: 20px;
                    text-align: center;
                    text-transform: uppercase;
                    display: block;
                    width: 100%;
                }
            }
        }
    }
}

.tp-event-archive {
    margin: 0;
    > li {
        list-style: none;
        padding-bottom: 100px;
        &:last-child {
            padding-bottom: 0;
        }
    }
    .entry-title {
        h4 {
            font-size: 30px;
            line-height: 40px;
            font-weight: 700;
            margin: 25px 0 19px;
        }
    }
    .entry-content {
        .tp_event_view-detail {
            line-height: 30px;
            height: 40px;
            padding: 5px 25px;
            text-transform: uppercase;
            font-size: 13px;
            font-weight: 700;
            text-align: center;
            margin-top: 3px;
            display: inline-block;
        }
    }
}

.tp-event-content {
    overflow: hidden;
    clear: both;
    margin-top: 50px;
    .entry-content {
        margin-top: 15px;
        position: relative;
        > p {
            margin-bottom: 25px;
        }
        padding-right: 30px;
        width: 100%;
        float: none;
        clear: both;
        h4 {
            font-size: 18px;
            font-weight: 700;
        }
    }
    .tp-event-info {
        float: none;
    }
}

.tp-event-info {
    padding: 30px;
    border: 1px solid #eee;
    margin-bottom: 40px;
    .tp-info-box {
        p {
            margin: 0;
            line-height: 30px;
            padding-left: 23px;
            font-size: 15px;
            &.view-on-map{
                text-transform: uppercase;
                font-size: 13px;
                font-weight: 700;
                a{
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
        .heading {
            font-weight: 700;
            color: #666 !important;
            font-size: 15px;
            position: relative;
            .fa {
                position: absolute;
                left: 0;
                line-height: 24px;
                top: 4px;
            }
        }
    }
}

.tp-event-organizers {
    .title {
        font-size: 18px;
        font-weight: 700;
        line-height: 30px;
        text-transform: uppercase;
        margin: 40px 0 25px;
    }
    .thim-carousel-wrapper {
        position: static;
        .item {
            text-align: left;
            .thumbnail {
                float: left;
                margin-right: 20px;
                img {
                    border-radius: 50%;
                }
            }
            .info{
                padding-top: 30px;
                .name {
                    font-size: 15px;
                    font-weight: 700;
                    line-height: 20px;
                    margin-bottom: 3px;
                }
                .regency {
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 20px;
                    color: #999;
                    text-transform: uppercase;
                }
            }
        }
    }
    .thim-carousel-container {
        position: relative;
        &:hover {
            .owl-nav {
                .owl-prev,
                .owl-next {
                    @include opacity(1);
                    @include translate(0, 0);
                }
            }
        }
    }
    .owl-nav {
        .owl-prev,
        .owl-next {
            border: 1px solid #666;
            width: 30px;
            height: 30px;
            line-height: 28px;
            position: absolute;
            top: 50%;
            margin-top: -15px;
            left: 0;
            text-align: center;
            @include transition(all 0.3s);
            @include opacity(0);
            @include translate(10px, 0);
            .fa {
                font-size: 8px;
                color: #666;
                line-height: 28px;
                display: block;
            }
        }
        .owl-next {
            left: auto;
            right: 0;
            @include translate(-10px, 0);
        }
    }
    .owl-pagination{
        display: block;
        position: relative;
        text-align: center;
        margin-top: 20px;
        .owl-page{
            width: 10px;
            height: 10px;
            display: inline-block;
            background: transparent;
            border-radius: 50%;
            cursor: pointer;
            margin: 0 5px;
        }
    }
}

.event_button_disable {
    @include opacity(0.5);
    cursor: not-allowed;
}

/** Widget Event **/
.thim-list-event {
    position: relative;
    margin-bottom: 90px;
    .view-all {
        text-align: center;
        margin-top: 50px;
        display: block;
    }
    .view-all-link {
        border: 1px solid #fff;
        display: inline-block;
        margin: auto;
        line-height: 38px;
        height: 40px;
        padding: 0 30px;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 700;
        border-radius: 30px;
        color: #fff;
        &:hover {
            background: #fff;
        }
    }
    .item-event {
        overflow: hidden;
        margin-bottom: 30px;
        background: #fff;
        .view-detail {
            a {
                display: inline-block;
                margin: auto;
                line-height: 38px;
                height: 40px;
                padding: 0 30px;
                text-transform: uppercase;
                font-size: 13px;
                font-weight: 700;
                border-radius: 30px;
                &:hover {
                    color: #fff;
                }
            }
        }
        &:not(.feature-item) {
            .view-detail {
                float: right;
                overflow: hidden;
                margin-top: -54px;
                position: relative;
            }
        }
        .top-heading {
            overflow: hidden;
            padding-left: 28px;
            position: relative;
            &:before{
                content: '';
                position: absolute;
                width: 1px;
                top: 0;
                left: 0;
                bottom: 7px;
                background: #eee;
            }
        }
        .time-from {
            float: left;
            text-align: left;
            margin-right: 34px;
            .date {
                font-size: 34px;
                font-weight: 700;
                line-height: 35px;
                margin-top: -5px;
                display: block;
                margin-bottom: 8px;
            }
            .month {
                font-size: 14px;
                text-transform: uppercase;
                font-weight: 700;
                line-height: 15px;
                display: block;
            }
        }
        &.feature-item {
            .event-wrapper {
                float: left;
                width: 50%;
                padding-right: 30px;
                .description{
                    height: 75px;
                    line-height: 25px;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    &.full_content {
                        display: block;
                        height: auto;
                    }
                }
            }

            .view-detail{
                //margin-bottom: 30px;
            }
        }
        .event-wrapper {
            padding: 30px 50px 20px;
            float: none;
            width: 100%;
            position: relative;
            .title {
                font-size: 20px;
                font-weight: 700;
                text-transform: none;
                margin: 0;
                margin-bottom: 14px;
                line-height: 25px;
                margin-top: -4px;
            }
            .meta {
                text-transform: none;
                font-weight: 700;
                font-size: 12px;
                line-height: 25px;
                div {
                    display: inline-block;
                    line-height: 25px;
                    margin-right: 30px;
                    .fa {
                        margin-right: 5px;
                        font-size: 14px;
                        font-weight: 400;
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
            .description {
                margin-top: 35px;
                margin-bottom: 32px;
            }
        }
        .image {
            width: 50%;
            float: right;
            position: relative;
            img {
                width: 100%;
            }
        }
    }
    &.layout-2 {
        .time-from {
            width: 48px;
            border: 1px solid #ffb606;
            text-align: center;
            .date {
                font-size: 24px;
                font-weight: 700;
                line-height: 30px;
                margin: 6px 0 -8px;
            }
            .month {
                font-size: 12px;
                font-weight: 700;
                line-height: 22px;
                text-transform: uppercase;
            }
        }
        .event-wrapper {
            width: calc(100% - 63px);
            width: -webkit-calc(100% - 63px);
            width: -moz-calc(100% - 63px);
            padding: 0;
            float: right;
            .title {
                font-size: 18px;
                line-height: 25px;
                margin-bottom: 5px;
            }
            &:before {
                display: none;
            }
            .meta {
                line-height: 20px;
                div {
                    line-height: 20px;
                }
            }
        }
        .item-event {
            padding: 25px 0 25px;
            border: 0;
            border-bottom: 1px solid #eee;
            &:first-child {
                padding-top: 0;
            }
        }
        .view-all {
            position: relative;
            border: 0;
            line-height: 25px;
            top: auto;
            right: auto;
            padding: 0;
            display: inline-block;
            height: auto;
            margin-top: 23px;
            text-transform: uppercase;
            &:hover {
                text-decoration: underline;
            }
        }
    }

    &.archive-event{
        .item-event{
            padding: 50px 0;
            border-top: 1px solid #ddd;
            margin-bottom: 0;
            .event-wrapper{
                padding-left: 0;
                padding-bottom: 0;
            }
        }
        .item-event.feature-item .event-wrapper{
            padding-top: 0;
            //padding-bottom: 30px;

        }
    }
}

.thim-archive-event-select{
    font-size: 14px;
    font-weight: 700;
    border: none;
    line-height: 30px;
    margin-bottom: 10px;
    min-width: 198px;
    height: 40px;
    background: none;
    &:hover,
    &:focus{
        border: none;
        outline: none;
    }
}

.archive-event{
    >div{
        display: none;
        &.active{
            display: block;
        }
    }
    &.thim-list-event{
        margin-bottom: -50px;
    }
}

.entry-summary>.title{
    margin-top: 0;
    line-height: 40px;
    font-size: 30px;
    margin-bottom: 20px;
}
.comment-respond-area {
    ::-webkit-input-placeholder { color:#999; font-size: 12px }
    ::-moz-placeholder { color:#999; font-size: 12px } /* firefox 19+ */
    :-ms-input-placeholder { color:#999; font-size: 12px } /* ie */
    input:-moz-placeholder { color:#999; font-size: 12px }
}

.event-archive-expired {
    margin-bottom: 15px;
}

@-moz-document url-prefix() {
    .thim-archive-event-select {
        padding-right: 10px;
    }
}

.event-wrapper-shortcode {
    max-width: 400px;
    margin: auto;
    padding: 30px;
    border: 1px solid #eee;
    > p {
        br {
            display: none;
        }
    }
}
.event-auth-form, .lost_reset_password, .thim-loginpage form {
    p {
        margin-bottom: 10px;
    }
    .required {
        color: #f00;
    }
    label {
        color: #333;
    }
    input {
        height: 40px;
        width: 100%;
        padding: 0px 10px;
    }
    input[type="radio"], input[type="checkbox"] {
        width: 16px;
        height: 16px;
        padding: 0;
    }
    input[type="submit"] {
        color: #FFF;
        font-size: 13px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 0;
        width: auto;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
        padding: 0 25px;
        -webkit-transition: all .3s ease-in-out 0s;
        -moz-transition: all .3s ease-in-out 0s;
        -o-transition: all .3s ease-in-out 0s;
        -ms-transition: all .3s ease-in-out 0s;
    }
}
.widget-area.sidebar-events{
    aside:first-child{
        margin-top: 0;
    }
}
.thim-widget-book-event {
    &:before,
    &:after{
        display: none;
    }
    ul{
        li{
            text-transform: none;
            font-size: 15px;
            font-weight: 400;
            line-height: 52px;
            clear: both;
            border-bottom: 1px solid #eee;
            overflow: hidden;
            .label{
                display: inline-block;
            }
            .value{
                display: inline-block;
                font-weight: 700;
                float: right;
            }
            input[type="number"] {
                width: 55px;
                line-height: 30px;
                border: 1px solid #eee;
                padding: 0 0 0 10px;
                font-size: 15px;
                font-weight: 400;
                text-align: center;
            }
            &.event-cost{
                .value{
                    font-size: 18px;
                }
                .free{
                    color: #54b551;
                }
            }
            &.event-payment{
                .value{
                    float: none;
                    display: block;
                }
                label{
                    margin-bottom: 0;
                }
            }
            input[type=radio],
            input[type=checkbox]{
                border-color: #ccc;
            }
        }
    }
    .event_register_foot{
        text-align: center;
        padding: 40px 0;
        .event_register_submit{
            color: #fff;
            &.event-register-loading{
                position: relative;
                @include opacity(0.7);
                &:before{
                    line-height: 40px;
                    top: 0;
                    right: 0;
                    content: "\f110";
                    font-family: FontAwesome;
                    left: 0;
                    margin: auto;
                    -webkit-animation: fa-spin 1s infinite steps(8);
                    animation: fa-spin 1s infinite steps(8);
                    color: #fff;
                    vertical-align: top;
                    -webkit-font-smoothing: antialiased;
                    font-weight: 400;
                    position: absolute;
                }
            }
        }
    }
    .book-title{
        margin: 0;
        color: #fff;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 700;
        line-height: 72px;
        padding: 0;
        text-align: center;
        position: relative;
        &:before{
            content: '';
            position: absolute;
            left: 50%;
            right: 0;
            bottom: -10px;
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            margin-left: -10px;
        }
    }
    .event_register_area{
        padding: 16px 30px 0;
        border: 1px solid #eee;
        border-top: 0;
        ul {
            margin-left: 0;
        }
    }
    .event_auth_register_message_error{
        color: #a94442;
        background: #f2dede;
        margin: 20px 0 0;
        border: 0;
        text-align: center;
        border-radius: 0;
        line-height: 20px;
        padding: 10px 0;
        font-size: 13px;
    }
}