.user-profile-edit-form h3.title{
	text-transform: uppercase;
}

.hide-if-js{
	display: none !important;
}
//New style from LearnPress
.learn-press-user-profile #lp-user-edit-avatar .moxie-shim {
  display: none;
}
.learn-press-user-profile #lp-user-edit-avatar .lp-form-field-avatar {
  float: left;
}
.learn-press-user-profile #lp-user-edit-avatar #lp-avatar-actions {
  margin: 20px 0 0;
}
.learn-press-user-profile .lp-avatar-preview {
  position: relative;
  float: left;
  background-color: #DDD;
}
.learn-press-user-profile .lp-avatar-preview .profile-picture {
  float: left;
  margin-right: -100%;
  width: 100%;
}
.learn-press-user-profile .lp-avatar-preview .profile-picture img {
  width: 100%;
  height: 100%;
  border-radius: 0;
}
.learn-press-user-profile .lp-avatar-preview .profile-picture.profile-avatar-hidden {
  display: none;
}
.learn-press-user-profile .lp-avatar-preview .lp-avatar-preview-actions {
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -14px;
  text-align: center;
}
.learn-press-user-profile .lp-avatar-preview .lp-avatar-preview-actions a {
  text-decoration: none;
  font-size: 12px;
  background: #FFF;
  display: inline-block;
  box-shadow: none;
  padding: 5px 10px;
}
.learn-press-user-profile .lp-avatar-preview .lp-avatar-upload-progress {
  position: absolute;
  height: 10px;
  background: #FFF;
  top: 50%;
  margin-top: -5px;
  left: 10px;
  right: 10px;
  display: none;
}
.learn-press-user-profile .lp-avatar-preview .lp-avatar-upload-progress .lp-avatar-upload-progress-value {
  width: 0;
  height: 10px;
  background: $thim_body_primary_color;
}
.learn-press-user-profile .lp-avatar-preview .lp-avatar-upload-error {
  display: none;
}
.learn-press-user-profile .lp-avatar-preview .lp-avatar-preview-actions {
  display: none;
}
.learn-press-user-profile .lp-avatar-preview:hover .lp-avatar-preview-actions {
  display: block;
}
.learn-press-user-profile .lp-avatar-preview.uploading .lp-avatar-preview-actions,
.learn-press-user-profile .lp-avatar-preview.upload-error .lp-avatar-preview-actions {
  display: none;
}
.learn-press-user-profile .lp-avatar-preview.uploading .lp-avatar-upload-progress,
.learn-press-user-profile .lp-avatar-preview.upload-error .lp-avatar-upload-progress {
  display: block;
}
.learn-press-user-profile .lp-avatar-preview.uploading:before,
.learn-press-user-profile .lp-avatar-preview.upload-error:before {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #FFF;
  opacity: 0.4;
  content: '';
}
.learn-press-user-profile .lp-avatar-preview.upload-error .lp-avatar-upload-error {
  display: block;
}
.learn-press-user-profile .lp-avatar-preview.croping .lp-avatar-preview-actions {
  display: none;
}
.learn-press-user-profile .lp-avatar-preview.croping .lp-avatar-crop-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  overflow: hidden;
}
.learn-press-user-profile .lp-avatar-preview.croping .lp-avatar-crop-image img {
  max-width: inherit;
  cursor: move;
}
.learn-press-user-profile .lp-avatar-preview.croping .lp-avatar-crop-image .lp-crop-controls {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
}
.learn-press-user-profile .lp-avatar-preview.croping .lp-avatar-crop-image .lp-crop-controls .lp-zoom {
  position: absolute;
  height: 10px;
  bottom: 10px;
  left: 10px;
  right: 30px;
  background: $thim_body_primary_color;
}
.learn-press-user-profile .lp-avatar-preview.croping .lp-avatar-crop-image .lp-crop-controls .lp-zoom .ui-slider {
  position: absolute;
  left: 0;
  right: 10px;
  height: 100%;
}
.learn-press-user-profile .lp-avatar-preview.croping .lp-avatar-crop-image .lp-crop-controls .lp-zoom .ui-slider .ui-slider-handle {
  display: inline-block;
  width: 10px;
  height: 14px;
  background: #FFF;
  position: absolute;
  margin-top: -2px;
  border: 1px solid $thim_body_primary_color;
  box-shadow: none;
  outline: none;
  cursor: ew-resize;
}
.learn-press-user-profile .lp-avatar-preview.croping .lp-avatar-crop-image .lp-crop-controls .lp-cancel-upload {
  text-decoration: none;
  position: absolute;
  bottom: 5px;
  right: 5px;
  box-shadow: none;
}
.learn-press-user-profile .lp-avatar-preview.croping .lp-avatar-crop-image .lp-crop-controls:before {
  position: absolute;
  height: 30px;
  width: 100%;
  content: '';
  background: #FFF;
  opacity: 0.4;
}
.learn-press-user-profile .lp-avatar-preview:after {
  display: block;
  content: '';
  clear: both;
}
.learn-press-user-profile .lp-avatar-preview:after:after {
  content: '';
  display: block;
  clear: both;
}
//#your-profile
#your-profile{
  ul{
	list-style: none;
	margin: 0;
	display: block;
	overflow: hidden;
	li{
	  list-style: none;
	}
	&.learn-press-subtabs{
	  li{
		float: left;
		display: inline-block;
		margin: 0;
		position: relative;
		border-bottom: 1px solid #eee;
		&:after{
		  bottom: -1px;
		  z-index: 10;
		  background: 0 0;
		  left: 0;
		  right: 3px;
		  height: 1px;
		  content: '';
		  position: absolute;
		}
		&.current{
		  &:before{
			content: '';
			position: absolute;
			left: 0;
			right: 3px;
			top: 0;
			height: 3px;
			z-index: 10;
			background: $thim_body_primary_color;
		  }
		  &:after{
			background: #fff;
		  }
		  span,a{
			background: #fff;
		  }
		}
		&:last-child{
		  &.current:before{
			right: 0;
		  }
		  &:after{
			right: 0;
		  }
		  span,a{
			margin-right: 0;
		  }
		}
		span,a{
		  padding: 5px 15px;
		  line-height: 25px;
		  font-size: 12px;
		  min-width: 100px;
		  display: inline-block;
		  border: 1px solid #eee;
		  border-bottom: 0;
		  font-weight: 700;
		  background: #f9f9f9;
		  margin-right: 3px;
		  text-align: center;
		  color: $thim_font_title_color;
		}
	  }
	}
  }
  .learn-press-subtab-content{
	clear: both;
	padding: 30px 30px 40px;
	border: 1px solid #eee;
	margin: 30px 0;
	.lp-form-field{
	  margin-bottom: 20px;
	  .description{
		margin-bottom: 10px;
	  }
	  &:last-child{
		margin-bottom: 0;
	  }
	  .lp-form-field-input {
		input, select {
		  padding: 5px 15px;
		  width: 100%;
		  border: 1px solid #eee;
		}
		textarea {
		  padding: 10px 15px;
		  border: 1px solid #eee;
		}
	  }
	}
  }
  #lp-upload-photo{
	padding: 5px 10px;
	background: #f2f2f2;
	border: 1px solid #a0a0a0;
	color: #333;
	font-weight: 400;
	font-size: 14px;
	border-radius: 3px;
	line-height: 18px;
	text-transform: none;
  }
  #lp-remove-upload-photo{
	background: transparent;
	border: none;
	font-weight: 400;
	font-size: 14px;
	text-align: center;
	text-transform: none;
	border-radius: 50%;
	color: red;
	padding: 0;
	margin: 0;
	  margin-left: 10px;
	line-height: 25px;
  }
  .title{
	border-bottom: 1px solid #eee;
	padding-bottom: 10px;
	margin-bottom: 30px;
  }
  input,select{
	width: 250px;
	max-width: 100%;
  }
  textarea{
	width: 100%;
	max-width: 100%;
  }
  input[type=submit]{
	&[disabled="disabled"]{
	  color: #666;
	  cursor: no-drop;
	  background: #ccc;
	  &:hover{
		color: #666;
		background: #ccc;
	  }
	}
	width: auto;
	border: none;
	padding: 6px 30px;
	border-radius: 20px;
	color: #ffffff;
	background: $thim_body_primary_color;
	&:hover{
	  background: $thim_button_hover_color;
	}
  }
  label{
	display: block;
	color: #333;
	font-weight: 700;
  }
  .info-field{
	display: block;
	overflow: hidden;
	clear: both;
	&.end-box{
	  margin-bottom: 50px;
	}
  }
  .change-password{
	margin-bottom: 0;
	display: block;
	padding-bottom: 0;
  }
  .link-change-password{
	color: $thim_body_primary_color;
	display: inline-block;
	margin-bottom: 0;
	&:hover{
	  text-decoration: underline;
	}
  }
  #user_profile_password_form{
	margin-bottom: 0;
	padding-top: 15px;
	.error{
	  margin: 15px 0 0;
	  border: 0;
	  border-radius: 0;
	  line-height: 20px;
	  padding: 10px 15px;
	  font-size: 13px;
	  color: #a94442;
	  background: #f2dede;
	  display: block;
	}
  }
  .learn-press-message{
	margin: 0 0 20px;
	border: 0;
	border-radius: 0;
	line-height: 20px;
	padding: 10px 15px;
	font-size: 13px;
	display: block;
	&.error{
	  color: #a94442;
	  background: #f2dede;
	}
	&.success{
	  color: #3c763d;
	  background: #dff0d8;
	}
  }
  input#pass2{
	margin-bottom: 0;
  }
}
.lp-sub-menu {
	margin-bottom: 20px!important;
	li {
		display: inline-block;
		list-style: none;
		padding-right: 15px;
		span, a {
			color: #333333;
		}
		span {
			border-bottom: 2px solid #2893c9;
		}
	}
}
body{
	#course-curriculum-popup{
		background: rgba(0,0,0,0.75);
		#popup-main{
		}
	}

	#learn-press-block-content {
		position: fixed;
		z-index: 99999999;
		width: auto;
		height: auto;
	  left: 0;
	  top: 90px;
		right: 0;
		bottom: 0;
		background: none;
		&:before,&:after{
			display: none;
		}
		.thim-loading-container{
			width: 900px;
			max-width: 100%;
			background: #fff;
			margin: 0 auto;
		}
	  div#preload {
		width: calc(100% - 400px);
		width: -webkit-calc(100% - 400px);
		width: -moz-calc(100% - 400px);
		right: 0;
	  }
	}
	#popup_container{
		#popup_title{
			background: $thim_body_primary_color;
			color: #ffffff;
		}
	}
	#popup_panel{
		#popup_ok{
			background: $thim_body_primary_color;
			color: #ffffff;
			&:hover{
				background: $thim_button_hover_color;
			}
		}
	}
}
.quiz-buttons{
	overflow: hidden;
	.button-hint {
		display: inline-block;
		margin-right: 10px;
		background: $thim_font_title_color;
		color: #fff;
		&:hover{
			background: $thim_body_primary_color;
			color: $thim_font_title_color;
		}
	}
  .button-next-question {
	display: inline-block;
	margin-right: 10px;
	background: $thim_font_title_color;
	color: #fff;
	&:hover{
	  background: $thim_body_primary_color;
	  color: $thim_font_title_color;
	}
  }
  .button-check-answer {
	display: inline-block;
	margin-right: 10px;
	background: $thim_font_title_color;
	color: #fff;
	&:hover{
	  background: $thim_body_primary_color;
	  color: $thim_font_title_color;
	}
  }
  .button-prev-question {
	display: inline-block;
	margin-right: 10px;
	background: $thim_font_title_color;
	color: #fff;
	&:hover{
	  background: $thim_body_primary_color;
	  color: $thim_font_title_color;
	}
  }
	.finish-quiz{
		overflow: hidden;
		clear: both;
		margin-top: 10px;
	}
	.button-finish-quiz{
		float: left;
		clear: both;

	}
}
.complete-lesson-button{
	margin-top: 15px;
	&.completed {
		background: #54B551;
		color: #fff;
	}
}
.thim-course-megamenu .course-meta{
	margin-bottom: 0;
}
#profile-picture-picture{
	margin-top: 10px;
}
.learn-press #learn-press-course-curriculum .section-content{
	.course-item{
		.completed-button{
			display: none;
		}
		&.item-completed{
			.completed-button{

			}
		}
	}
}
#learn-press-course-curriculum ul.curriculum-sections,
#learn-press-course-curriculum ul.section-content{
	background: none;
}
#learn-press-course-curriculum .course-item.course-quiz .course-item-title:before,
#learn-press-course-curriculum .course-item.course-lesson .course-item-title:before{
	display: none;
}
#learn-press-course-curriculum .section-header{
	background: transparent;
	padding-bottom: 10px;
	&:hover{
		background: transparent;
	}
}
#learn-press-course-curriculum .course-item{
	background: transparent !important;
	border: none;
	&:hover{
		background: transparent !important;
	}
}
.thim-course-landing-button .purchase-course{
	margin: 0 !important;
}
.thim-course-landing-button .course-price .value,
body .learn-press .course-payment .course-price .value{
	color: #2e8ece;
}
body.single #main-content .course-price{
	.value{
		&.has-origin{
			position: relative;
			padding-top: 10px;
			margin-bottom: -10px;
			.course-origin-price{
				color: #666;
				font-size: 16px;
				font-weight: 400;
				text-decoration: line-through;
				position: absolute;
				top: -14px;
				right: 0;
			}
		}
	}
}
body.content-item-only .learn-press-content-item-only{
	//padding: 30px;
}

body #course-curriculum-popup{
	#popup-main{
		#popup-footer {
			border-top: 1px dashed #DDD;
			overflow: hidden;
			margin: 0 0 20px;
			padding-top: 10px;
			background: transparent;
			height: 60px;
			left: 30px;
			right: 30px;
		}
	}
}
body #popup-footer{
	.course-content-lesson-nav{
		a{
			font-size: 14px;
			font-weight: 700;
			color: #333;
			display: block;
			&:hover{
				text-decoration: underline;
			}
		}
		span{
			text-transform: uppercase;
			font-weight: bold;
			font-size: 11px;
		}
	}
	.course-item-prev{
		float: left;
		text-align: left;
	}
	.course-item-next{
		float: right;
		text-align: right;
	}
}
#learn-press-course-curriculum .course-item.item-current:before{
	display: none;
}
#learn-press-course-curriculum ul.curriculum-sections li.section, #learn-press-course-curriculum ul.section-content li.section{
	padding-bottom: 20px;
}
.widget-area .thim-course-list-sidebar .thim-course-content .course-meta .course-review .review-stars-rated .review-stars>li{
	padding: 0;
}
.review-stars-rated .review-stars.filled:before{
	display: none;
}
#tab-course-review, #tab-reviews {
	.course-review .content-review>ul .review-text ul li {
		margin: 0;
		border: 0;
		background: none;
	}
}
#tab-course-review, #tab-reviews {
	.course-rating .detailed-rating .stars>div.key {
		min-width: 50px;
	}
}
.learn-press form.enroll-course{
	display: inline-block;
}

.course-curriculum {
  .button-retake-course {
	margin-bottom: 30px;
  }
}
//Lp membership new style
.lp-pmpro-header,
.lp-pmpro-main,
.lp-pmpro-footer{
  overflow: hidden;
  width: 100%;
}
.lp-pmpro-header{
  .list-item{
	border-left: 0;
	min-height: 200px;
  }
}
.lp-pmpro-footer{
  tr {
	border: none;
  }
  .list-item{
	min-height: 81px;
	padding: 50px 0;
	vertical-align: middle;
	.thim_btn {
	  display: inline-block;
	  line-height: 28px;
	  padding: 5px 30px;
	  border: 1px solid #eee;
	  border-radius: 30px;
	  font-weight: 700;
	  font-size: 13px;
	  text-transform: uppercase;
	  border-color: #2e8ece;
	  color: #2e8ece;
	  &:hover {
		background-color: #2e8ece;
		color: #ffffff;
	  }
	}
  }
}
.lp-pmpro-membership-list{
  max-width: 100%;
  margin: auto;
  .item-row, .lp-pmpro-header {
	border: none;
  }
  .lp-membership-list-mobile &{
	max-width: 100%;
	margin-bottom: 50px;
	&:last-child{
	  margin-bottom: 0;
	}
	.list-main{
	  width: 65%;
	}
	.header-item {
	  width: 100%;
	}
  }
  .list-item, .list-main {
	text-align: center;
	&.item-td{
	  border-left: 1px solid #eeeeee;
	  padding-top: 0;
	  padding-bottom: 0;
	  span {
		padding-top: 10px;
		width: 100%;
		display: block;
		padding-bottom: 10px;
		border-bottom: 1px solid #ccc;
	  }
	}
  }
  .list-main{
	width: 34%;
	text-align: left;
  }
  .header-item{
	padding-top: 30px;
	padding-bottom: 30px;
	position: relative;
	text-align: center;
	vertical-align: top;
	border-left: 1px solid #eeeeee;
	&.position-2 {
	  .lp-price {
		color: #FFFFFF;
		background-color: #2e8ece;
	  }
	}
	&.has-3{
	  width: 22%;
	}
	&.has-2{
	  width: 33%;
	}
  }
  .item-td{
	border: none;
	padding: 10px 30px;
	line-height: 25px;
	a{
	  color: #666;
	}
	&.item-desc{
	  font-weight: 700;
	}
	&.item-check{
	  color: #55b450;
	  font-size: 17px;
	}
	&.item-none{
	  color: #bbb;
	  font-size: 17px;
	}
  }

  .lp-title{
	font-size: 16px;
	font-weight: 700;
	margin: 5px 0 15px;
	line-height: 30px;
	text-transform: uppercase;
	color: #2e8ece;
  }
  .lp-desc{
	font-size: 14px;
	color: #888;
	font-weight: 400;
	line-height: 22px;
	margin-bottom: 0;
  }
  .lp-price{
	font-size: 30px;
	font-weight: 700;
	color: #333;
	display: inline-block;
	width: 100px;
	line-height: 100px;
	border-radius: 50%;
	border: 1px solid;
	.currency{

	}
	.expired{
	  font-size: 24px;
	  line-height: 26px;
	  font-weight: 400;
	  .currency{
		font-size: 14px;
	  }
	}
  }
}

.lp-membership-list-mobile {
  .lp-pmpro-membership-list {
	.header-item {
	  border-left: none;
	}
	.lp-desc {
	  margin-bottom: 20px;
	}
	.item_level {
	  border: solid 1px #e7e7e7;
	  margin-bottom: 20px;
	  .list_courses {
		border-top: 1px solid #eee;
		.item-td {

		  text-align: center;
		}
	  }
	}
  }
}

#pmpro_paypalexpress_checkout{
  input{
	border: 0;
	padding: 0;
  }
}


form.pmpro_form{
  .lp-pmpro-name{
	width: 150px;
	height: 150px;
	float: left;
	clear: none;
	margin: 0;
	margin-right: 20px;
	position: relative;
	h4{
	  color: #fff;
	  line-height: 30px;
	  font-size: 20px;
	  font-weight: 700;
	  text-transform: uppercase;
	  text-align: center;
	  vertical-align: middle;
	  margin: 0;
	  position: absolute;
	  left: 10px;
	  right: 10px;
	  top: 50%;
	  @include translate(0, -50%);
	}
  }
  .lp-pmpro-content{
	width: calc(100% - 170px);
	width: -webkit-calc(100% - 170px);
	width: -moz-calc(100% - 170px);
	float: right;
	clear: none;
	margin: 0;
  }
  .lp-pmpro-desc{
	text-align: left;
	float: none;
	clear: both;
	margin: 0;
	margin-bottom: 5px;
	line-height: 25px;
	label,p{
	  display: inline-block;
	  margin: 0;
	}
	label{
	  margin-right: 5px;
	  width: auto;
	}
	&.lp-pmpro-description{
	  margin-top: 15px;
	}
  }
  h3.pmpro_thead-name{
	margin: 0;
	font-size: 17px;
	font-weight: 700;
	padding-left: 10px;
  }
  .pmpro_thead-msg{
	font-style: normal;
	font-size: 14px;
	color: #999;
	a{
	  font-weight: 700;
	  color: #e7a507;
	  text-transform: none;
	  margin-left: 5px;
	  &:hover{
		text-decoration: underline;
	  }
	}
  }
  .lp-pmpro-account-info{
	.lp-pmpro-desc{
	  max-width: 500px;
	  float: none;
	  overflow: hidden;
	  margin: auto;
	  clear: both;
	  margin-bottom: 15px;
	  label{
		min-width: 175px;
		text-align: left;
		font-size: 15px;
		font-weight: 700;
		color: #888;
	  }
	}
	abbr[title], abbr[data-original-title]{
	  border-bottom: 0;
	  vertical-align: bottom;
	  margin-left: 5px;
	  color: #999;
	}
  }
}

#pmpro_form tbody,
#pmpro_pricing_fields tbody{
  tr{
	td.lp-pmpro-td{
	  padding: 30px 40px;
	}
  }
}

#pmpro_form{
  .pmpro_submit{
	text-align: center;
	span{
	  float: none;
	  overflow: hidden;
	  display: block;
	}
  }
  table{
	margin-bottom: 40px;
  }
}

.thim-lp-pmpro-desc{
  max-width: 430px;
  margin: auto;
  h4{
	font-size: 22px;
	margin: 0;
	margin-bottom: 15px;
  }
  .description{
	margin-bottom: 20px;
	color: #888;
  }
  .readmore-link{
	text-transform: uppercase;
	cursor: pointer;
	font-size: 14px;
	font-weight: 700;
	&:hover{
	  text-decoration: underline;
	}
	.fa{
	  margin-left: 5px;
	}
  }
}
//membership pro
.pmpro-has-access{
  .pmpro_submit{
	margin-left: 0 !important;
  }
  .pmpro_error{
	color: #a94442;
	background: #f2dede;
  }
  .pmpro_thead-name{
	text-transform: uppercase;
  }
  .pmpro_thead-msg{
	text-transform: lowercase;
  }
  ul{
	//margin: 0;
	list-style-type: none;
  }
  .entry-content {
	ul {
	  list-style: inherit;
	}
  }
  .navigation,
  .pmpro_actionlinks{
	a{
	  font-weight: bold;
	  font-size: 15px;
	  padding: 0;
	  margin: 0 10px;
	  line-height: 30px;
	  &:first-child{
		margin-left: 0;
	  }
	  &:last-child{
		margin-right: 0;
	  }
	}
  }
  input.pmpro_btn,
  a.pmpro_btn{
	border: none;
	padding: 5px 25px;
	border-radius: 0;
	text-transform: uppercase;
	outline: none;
	line-height: 30px;
  }
  table.pmpro_invoice{
	margin-top: 40px;
  }
  table.pmpro_invoice,
  table#pmpro_levels_table,
  #pmpro_account-membership,
  #pmpro_account-invoices,
  #pmpro_cancel,
  #pmpro_invoices_table{
	thead{
	  tr{
		th{
		  border: 1px solid #eee;
		  text-align: center;
		  padding: 10px 15px;
		}
	  }
	}
	tbody{
	  .odd{
		td{
		  background-color: transparent;
		}
	  }
	  .active{
		td{
		  background-color: #eee;
		}
	  }
	  tr{
		td{
		  text-transform: capitalize;
		  text-align: center;
		  padding: 10px 15px;
		  border: 1px solid #eee;
		}
	  }
	}
  }
  table#pmpro_levels_table{
	tbody{
	  tr{
		td{
		  .pmpro_btn{
			border-radius: 0;
			border: none;
			font-size: 15px;
		  }
		}
	  }
	}
  }
  #pmpro_account-profile{
	ul{
	  margin: 0;
	  li{
		list-style-type: none;
	  }
	}
	.pmpro_actionlinks{
	  margin-top: 30px;
	}
  }
  #pmpro_cancel{
	hr{
	  display: none;
	}
	h3{
	  margin: 0 0 30px 0;
	  text-transform: uppercase;
	}
  }
  #pmpro_account{
	.pmpro_box{
	  margin-top: 0;
	  h3{
		margin: 20px 0 30px 0;
		text-transform: uppercase;
	  }
	}
  }
  #pmpro_billing_address_fields,
  #pmpro_payment_information_fields{
	thead{
	  th{
		text-transform: uppercase;
	  }
	}
	tbody{
	  label{
		font-weight: 400;
		font-size: 15px;
		text-align: left;
		width: 175px;
	  }
	  select,input{
		border-radius: 0;
		border: 1px solid #eee;
		padding: 7px 10px;
		height: 40px;
		max-width: 230px;
		outline: none;
		margin: 0;
	  }
	  select{
		font-size: 15px;
	  }
	  #ExpirationMonth,#ExpirationYear{
		width: calc(15% - 3.5px);
		width: -webkit-calc(15% - 3.5px);
		width: -moz-calc(15% - 3.5px);
	  }
	  #ExpirationMonth + .pmpro_asterisk{
		display: none;
	  }
	  .pmpro_error{
		border-color: #a00;
		background-color: transparent;
	  }
	}
	abbr{
	  color: red;
	  font-weight: 700;
	  border: 0;
	}
  }
  #pmpro_pricing_fields,
  #pmpro_billing_address_fields,
  #pmpro_payment_information_fields{
	thead{
	  tr{
		th{
		  border: 1px solid #eee;
		  padding: 10px 15px;
		}
	  }
	}
	tbody{
	  tr{
		td{
		  padding: 10px 15px;
		  border: 1px solid #eee;
		}
	  }
	}
  }
}

#pmpro_account #pmpro_account-membership{
  padding-top: 0;
  >h3{
	margin-top: 0;
  }
}

.pmpro_message{
  color: #31708f;
  border: 0;
  border-radius: 0;
  line-height: 20px;
  padding: 10px 15px;
  font-size: 13px;
  background: #d9edf7;
}

//addon membership
.lp_pmpro_courses_by_level{
  .level-wrap{
	margin-bottom: 50px;
	border: 1px solid #EEEEEE;
	text-align: center;
	@include transition(all 0.3s ease-in-out);
	position: relative;
	&.feature{
	  &:before{
		background: url(images/pricing-featured.png) no-repeat top right;
		content: '';
		position: absolute;
		width: 51px;
		height: 51px;
		top: -3px;
		right: -3px;
	  }

	}
	header{
	  text-align: center;
	  .lp_pmpro_title_level{
		text-transform: uppercase;
		margin: 0;
		position: relative;
		text-align: center;
		font-size: 18px;
		color: #FFF;
		line-height: 62px;
		padding: 10px 30px;
		overflow: hidden;
		&:before{
		  content: '';
		  position: absolute;
		  top: -70px;
		  left: -50px;
		  right: -50px;
		  bottom: 0;
		  z-index: -1;
		  border-radius: 0 0 50% 50%;
		  background: #ffb606;
		}
	  }
	  .lp_pmpro_price_level{
		text-align: center;
		padding: 35px 30px 30px;
		.price{
		  font-size: 40px;
		  font-weight: 400;
		  line-height: 50px;
		  margin: 0;
		}
		.expired{
		  color: #999;
		  line-height: 25px;
		  margin: 0;
		}
	  }
	}
	footer{
	  padding: 25px 30px 40px;
	  text-align: center;
	  a{
		font-size: 13px;
		font-weight: 700;
		line-height: 30px;
		display: inline-block;
		padding: 5px 25px;
	  }
	}
	main{
	  padding: 0 30px;
	}

	ul{
	  padding: 0;
	  li{
		padding: 12px 0;
		border-top: 1px solid #eee;
		a{
		  line-height: 25px;
		  color: #999;
		  display: block;
		}
	  }
	}
	&:hover{
	  box-shadow: 0 0 10px rgba(0,0,0,.1);
	}
  }
  .navigation{
	clear: both;
  }
}

body #pmpro_account .pmpro_box{
  border-top: 0;
}

form.pmpro_form{
  .pmpro_message{
	margin-top: 0;
	margin-bottom: 40px;
  }
  table{
	margin-bottom: 60px;
  }
  .pmpro_submit{
	margin: 0;
	overflow: hidden;
  }
}

body{
  form.pmpro_form .input,
  form.pmpro_form textarea,
  form.pmpro_form select{
	border-color: #eee;
  }
  table, td, tr{
	border-color: #eee;
  }
}