
.health-box-border{
	border-bottom: 1px solid #e3e3e3;
}
#health-icon-box{
	.first-icon-element{
		margin-bottom: 86px;
		margin-top: 120px;
	}
	.icon-element{
		margin-bottom: 86px;
	}
}

.giving-issues{
	.thim-carousel-wrapper.gallery-img .owl-item{
		height: 359px;
	} 
}


.health-v3 {

    .elementor-widget-thim-courses .view-all-courses:hover,
    .thim-widget-courses .view-all-courses:hover{
        color: #fff;
    }

    .elementor-shortcode #shaon-pricing-table-plus .minimal .highlight.featured h3:before,
    .textwidget #shaon-pricing-table-plus .minimal .highlight.featured h3:before{
    	    -webkit-mask: url(images/sale.svg) no-repeat top right;
		    background: none;
		    background-color: #2e8ece;
    }

    .thim-round-slider .scrollable{
    	width: 100% !important;
    	height: 315px !important;
    	li:first-child{
    		width: 100% !important;
    		display: block !important;
    		.slide-content{
    			border-radius: 0;
    			.image{
    				border-radius: 0;
    				height: 315px;
    				img{
    					position: absolute;
    					top:50%;
					  @include translate(0,-50%);
    				}
    			}
    		}
    	}
    	li{
    		display: none !important; 
    	}
    }

}


