.round-slider-content{
    text-align: center;
    iframe{
        border: none;
    }
    .round-slider-title {
        color: #fff;
        font-weight: 400;
        position: absolute;
        bottom: 0;
        width: 100%;
        line-height: 30px;
        padding: 5px 20px;
        text-align: left;
        background-color:rgba(0,0,0,0.6);
    }
}
.thim-round-slider,
.list_team_business {
    position: relative;
    overflow: hidden;
    .slide-content{ 
        border-radius: 50%;
        overflow: hidden;
    }
    .scrollable{
        position: relative;
        overflow: hidden;
        li{
            list-style: none;
            position: absolute;
            .image{
                cursor: pointer;
            }
            &.mid-item{
                z-index: 999;
            }
            &:not(.mid-item){
                .image{
                    cursor: pointer;
                    &:before{
                        position: absolute;
                        content: '';
                        background: rgba(0,0,0,.5);
                        border-radius: 50%;
                        display: block;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        top: 0;
                    }
                    img{
                        cursor: pointer;
                    }
                    .icon{
                        visibility: hidden;
                    }
                }
            }
        }
    }
    .image{
        position: relative;
        border-radius: 50%;
        overflow: hidden;
        .icon{
            width: 52px;
            height: 52px;
            border: 4px solid #fff;
            line-height: 44px;
            text-align: center;
            position: absolute;
            border-radius: 50%;
            top: 50%;
            left: 50%;
            margin-left: -26px;
            margin-top: -26px;
            z-index: 100;
            color: #fff;
            cursor: pointer;
            display: inline-block;
            font-size: 40px;
            @include transition(all 0.3s ease-in-out);
            &:before{
                display: inline-block;
                margin-left: 3px;
            }
        }
        &.type-video {
            .icon {

            }
        }
    }
}
.list_team_business {
    padding-right: 130px;
    .slide-content{
        border-radius: 0;
    }
    .scrollable {
        height: 390px!important;
        li {
            bottom: 0!important;
            top: inherit !important;
            .image_team {
                position: relative;
                cursor: pointer;
                &:before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0,0,0,0.6);
                }
            }
            &.mid-item {
                .image_team {
                    &:before {
                        display: none;
                    }
                }
            }
            &.mid-item + li + li, &.mid-item + li + li + li {
                width: 280px!important;
                margin-right: -1px;
            }
        }
    }
}
.about_program {
    .thim-round-slider {
        .image {
            &.type-video {
                .icon {
                    background-color: #ffffff;
                    border: none;
                    line-height: 55px;
                    &:hover {
                        color: #ffffff;
                    }
                }
            }
        }
    }
}
.mfp-container{
    cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVBAMAAABbObilAAAAMFBMVEVMaXH////////////////////////////////////////////////////////////6w4mEAAAAD3RSTlMAlAX+BKLcA5+b6hJ7foD4ZP1OAAAAkUlEQVR4XkWPoQ3CUBQAL4SktoKAbCUjgAKLJZ2ABYosngTJCHSD6joUI6BZgqSoB/+Shqde7sS9x3OGk81fdO+texMtRVTia+TsQtHEUJLdohJfgNNPJHyEJPZTsWLoxShqsWITazEwqePAn69Sw2TUxk1+euPis3EwaXy8RMHSZBIlRcKKnC5hRctjMf57/wJbBlAIs9k1BAAAAABJRU5ErkJggg==),progress;
    .mfp-content {
        .round-slider-content {
            img {
                width: 100%;
            }
            button {
                display: none;
            }
        }
    }
}